.experience-bloc {
  background: #F2F2F2;
  padding: 10px;
  border: 1px solid #DEDEDE;
  border-bottom: 2px solid #DEDEDE;
  border-radius: 3px;
}

.work-title {
  height: 6vh;
}

.work-header {
  .when {
    font-size: 12px;
    text-transform: uppercase;
    text-align: right;
    background: #ffffff;
    margin-left: -10px;
    margin-right: -10px;
    padding-right: 10px;
  }
}

.work-body {
  width: 100%;
  margin-top: 10px;
  white-space: pre-line;
}

.work-description-list {
  list-style-type: square;
}
