.project-img {
  width: 100%;
  display: block;
  padding: 2em;
}
.carousel-detail-description {
  margin-top: 3vh;
  font-size: 14px;
  color: #4C4C4C;
  line-height: 20px;
  white-space:pre-wrap;
}
