<section id="about" class="flex">
  <div class="header">
    About
  </div>
  <div class="about flex flex-row">

    <div class="flex-50 about-photo-description">
      <div class="about-photo"></div>
      <!-- <div><img class="up-arrow" src="img/up-arrow.png"></div> -->
      <div class="about-description">
        I'm a Full Stack Developer for
        <a class="highlight" href="http://www.sfr.fr" target="_blank">SFR</a>
        in Paris, FR.
        <br>
        bla bla bla bla bla bla bla bla bla bla bla bla bla bla
        <br>
      </div>
    </div>

    <div class="flex-50 about-skills">

      <div id="client-side" class="skill-group">
        <div class="skill-group-title">
          <mat-icon>computer</mat-icon>
        </div>
        <div class="skill-body">
          <ul>
            <li>Angular / TypeScript</li>
            <li>JavaScript, jQuery</li>
            <li>HTML5 / CSS</li>
          </ul>
        </div>
      </div>

      <div id="server-side" class="skill-group">
        <div class="skill-group-title">
          <mat-icon>dns</mat-icon>
        </div>
        <div class="skill-body">
          <ul>
            <li>Spring Boot, Spring MVC</li>
            <li>Python</li>
            <li>Mongodb, PostgreSQL, Oracle SQL</li>
          </ul>
        </div>
      </div>

      <div id="system-deployment" class="skill-group">
        <div class="skill-group-title">
          <img class="icon-deployment" src="/assets/images/kubernetes.png"/>
        </div>
        <div class="skill-body">
          <ul>
            <li>Kubernetes</li>
            <li>Docker</li>
            <li>Kibana, Grafana</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
