<!--
<mat-card class="profile-card">
  <mat-card-header>
    <div mat-card-avatar class="profile-photo"></div>
    <mat-card-title>Hanyuan ZHANG</mat-card-title>
    <mat-card-subtitle>Fullstack Developper</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      representation
    </p>
  </mat-card-content>
</mat-card>
-->

<section id="home" class="flex">
  <div id="pt" class="canvas"></div>
  <div class="flex">
    <div class="text">
      Hello, I'm <span class="highlight">Hanyuan ZHANG</span>.
      <br />
      I'm a full-stack web developer.
    </div>

    <div class="button page-link" dest="about">
      Know more about me <i class="fa fa-long-arrow-right animate__animated animate__bounce"></i>
    </div>

    <nav mat-tab-nav-bar class="flex" id="navbar">
      <div class="link-wrap">
        <a mat-tab-link *ngFor="let link of links"
           (click)="activeLink = link"
           [active]="activeLink.name == link.name"
           href="#{{link.name}}"> {{link.name}} </a>
      </div>
    </nav>
  </div>
</section>
