@import "src/styles/mixins";
@font-face {
  font-family: "Kaushan-Regular";
  src: url("/assets/fonts/Kaushan-Regular.otf");
}

section#home {
  color: #fff;
  height: calc(100vh);
  min-height: 360px + 53px;
  padding: 0 10px;
}

.canvas {
  background: linear-gradient(45deg, #9AC1FF, #AB78A9);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  opacity: 86%;
}

section#home .text {
   font-size: 16pt;
   line-height: 20pt;
   margin: 0 0 20px 0;
   pointer-events: none;
   z-index: 1;
}

section#home .highlight {
  font-family: "Kaushan-Regular", sans-serif;
}

section#home .button {
  @include button;
  margin-bottom: 53px;
  padding: 12px 40px 12px 15px;
  position: relative;
}

section#home .fa-long-arrow-right{
  top: 14px;
  right: 15px;
  position: absolute;
  animation-duration: 2s;
  animation-iteration-count: 2;
}

nav {
  top: 100vh;
  bottom: 0;
  left: 0;
  position: absolute;
  //background: #1b242f;
  //border-bottom: 3px solid #04c2c9;
  height: 50px;
  text-align: left;
  width: 100%;
  z-index: 99;
}

nav .link-wrap {
  background: #333;
  height: 0;
  max-width: 1200px;
  overflow: hidden;
  position: absolute;
  top: 53px;
  transition: height 0.3s ease-out;
  width: 100%;
}

nav .active {
  color: #e31b6d;
}

nav .link-wrap div {
  cursor: pointer;
  font-size: 12pt;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: color 0.5s;
}

@media screen and (min-width: 600px) {
  section#home .text {
    font-size: 32pt;
    line-height: 36pt;
  }
  section#home .button {
    padding: 12px 50px 12px 20px;
  }
  nav .link-wrap {
    background: none;
    height: initial;
    overflow: visible;
    position: initial;
    text-align: left;
  }
  nav .link-wrap div {
    display: inline;
    font-size: initial;
    margin: 0 20px;
    padding: initial;
  }
}

@media screen and (min-width: 960px){
 .button {
   font-size: 16pt;
 }
}
